*{
    padding: 0%;
    margin: 0%;
}
.NavBar-title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 5rem;
  margin-left: -64rem;
  color:black ;
}
.iconos img {
  width: 28px;
  height: 28px;
  object-fit: contain;
  cursor: pointer;
}
