.contenedor-padre{
    background-color: #0d1224;
    border-radius: 2rem;
    width: 86%;
}
.title{
    font-size: 6rem;
    color: white;
}
.card{
    background-color: #0d1224;
    border-radius: 20px;
    width: 100%;
    height: 10rem;
    margin-top: 50px;
}
.title1{
    color: white;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: -7rem;
    margin-left: 8rem;

}
.pCard{
    color: rgb(220, 220, 220);
    font-size: 0.9rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0.5rem;
    margin-left: 8rem;
    text-align: justify;
    width: 60%;

}
.tarjetas{
    height: 226px;
    width: 95%;
 }

.imglogo{
    width: 9rem;
    margin-top: 1rem;
 }
.Remove{
    background-color: #838383;
    border-radius: 3rem;
    width: 4rem;
    height: 2rem;
    margin-top: 10px;
    color: white;
    border: none;
}
.card-imagen{
    width: 15%;
    height: 30px;
}
.botones{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}