.Barra{
    width: 50rem;
    height: 3rem;
    background-color: rgb(182, 182, 189);
    display: flex;
    align-items: center;
    border-radius: 1rem;
    margin: auto;
    justify-content: space-between;
    margin-top: 5rem;
}