.inicio-section {
  background-color: #c7dce9;
  padding: 60px 30px;
  margin-top: 5rem;
  width: 80rem;
  margin-left: -13rem;
}

.btn-titulo {
  background-color: #b0e5c8; 
  color: #000;
  font-weight: 600;
  border-radius: 20px;
  padding: 8px 20px;
  border: none;
}

.texto-descripcion {
  font-size: 15px;
  line-height: 1.7;
  max-width: 520px;
  margin: 0 auto;
}

